aws-lambda-powertools==1.15.0
aws-xray-sdk==2.8.0
boto3==1.17.67
botocore==1.20.67
certifi==2020.12.5
chardet==4.0.0
fastjsonschema==2.15.1
future==0.18.2
idna==2.10
Jinja2==2.11.3
jmespath==0.10.0
MarkupSafe==1.1.1
python-dateutil==2.8.1
requests==2.25.1
s3transfer==0.4.2
six==1.16.0
urllib3==1.26.4
wrapt==1.12.1
